@import "tailwindcss";

:root {
--background: #ffffff;
--foreground: #171717;
}



@media (prefers-color-scheme: dark) {
  :root {
--background: #0a0a0a;
--foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes revealFadeUp {
  from {
    opacity: 0;
    transform: translateY(40px); /* 原来20 → 改成40 */
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.reveal-ltr-hidden {
  opacity: 0;
  transform: translateY(40px);
}

/* 轻一点（用于小元素） */
.reveal-soft {
  opacity: 1;
  animation: revealFadeUp 1.2s cubic-bezier(0.22, 1, 0.36, 1) forwards;
}

/* 重一点（用于标题、大块） */
.reveal-strong {
  opacity: 1;
  animation: revealFadeUp 1.8s cubic-bezier(0.22, 1, 0.36, 1) forwards;
}